[flake8]
exclude = .git,__pycache__,.eggs,build
max-line-length = 120
ignore =
    # flake8 and black disagree about
    # W503 line break before binary operator
    # E203 whitespace before ':'
    W503,E203
    # E722 do not use bare except
    E722
